<div>
  <header class="margin-bottom">
    <h1 class="inline">{{ ac.title }}</h1>

    <div class="btn-group">
      <button type="button"
	      class="btn btn-default"
	      ng-click="ac.mode='list'"
      >List</button>
      <button type="button"
	      class="btn btn-default"
	      ng-click="ac.mode='grid'"
      >Grid</button>
    </div>
  </header>

  <ul class="list-unstyled list-group"
      ng-if="ac.mode=='list'">
    <li class="list-group-item"
	ng-repeat="picture in ac.pictures">
      <div data-animal-image-link
	   data-title="{{picture.title}}"
	   data-url="{{picture.url}}"
      ></div>
    </li>
  </ul>

  <div ng-if="ac.mode=='grid'">
    <div ng-repeat="picture in ac.pictures" class="col-xs-2">
      <img ng-src="{{ picture.thumbnail || picture.url }}"
	   height="100"
	   width="100" />
    </div>
  </div>
</div>
